body {
    background-color: #ecf0f1;
}

.sidebar {
    background-color: #17202a;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
}

.sidebar #date {
    margin-bottom: 15px;
}

.container-countdown {
    margin-top: 15%;
    text-align: center;
}

.container-countdown ul {
    list-style: none;
    padding: 0;
}

.container-countdown ul li {
    display: inline-block;
    padding: 0 15px;
}

.container-countdown ul li span {
    display: block;
    font-size: 3em;
    color: #1abc9c;
    font-weight: 600;
}

@media(max-width: 767px) {
    .sidebar {
        position: relative;
    }    
    
    .container-countdown ul li {
        padding: 0 5px;
    }

    .container-countdown ul li span {
        font-size: 2em;
    }
} 